<ul class="settings-list">
  <li>
    <a href="/projects/<%= params[:permalink] %>/settings">基本設定</a>
  </li>
  <li>
    <a href="/projects/<%= params[:permalink] %>/settings/tags">タグ設定</a>
  </li>
  <li>
    <a href="/projects/<%= params[:permalink] %>/settings/environment">開発環境設定</a>
  </li>
  <li>
    <a href="/projects/<%= params[:permalink] %>/settings/wants">募集一覧設定</a>
  </li>
  <li>
    <a href="/projects/<%= params[:permalink] %>/settings/publish">公開設定</a>
  </li>
  <li>
    <a href="/projects/<%= params[:permalink] %>/settings/destroy">プロジェクト削除</a>
  </li>
</ul>