<h1>プロジェクト一覧</h1>
<div class="project-index-big-container">
  <div class="project-index-search-container">
    <form action="/projects" method="get" class="project-search-form">
      <input type="text" name="query" placeholder="検索ワードを入力">
      <h4>ゲームエンジン</h4>
      <div class="checkboxes">
        <p><input type="checkbox" name="engine">すべて</p>
        <p><input type="checkbox" name="engine_unity">Unity</p>
        <p><input type="checkbox" name="engine_ue">Unreal Engine</p>
        <p><input type="checkbox" name="engine_cocos">Cocos2d-x</p>
      </div>
      <button type="submit">検索</button>
    </form>
  </div>
  <div class="project-list-container">
    <ul class="projects">
      <% @projects.each do |project| %>
        <li>
          <a class="thumbnail" href="<%= "/projects/#{project[:project_permalink]}" %>">
            <img src="<%= project[:project_image] %>">
          </a>
          <a class="title" href="<%= "/projects/#{project[:project_permalink]}" %>">
            <%= project[:title] %>
          </a>
          <div class="content">
            <%= project[:content] %>
          </div>
          <div class="owner">
            <a href="<%= "/users/#{project[:user_permalink]}" %>">
              <img src="<%= project[:user_image] %>">
            </a>
            <a href="<%= "/users/#{project[:user_permalink]}" %>">
              <%= project[:name] %>
            </a>
          </div>
          <table class="status">
            <tbody>
            <tr>
              <td><i class="far fa-eye"></i></td>
              <td><%= project[:accesses] %></td>
              <td><i class="far fa-star"></i></td>
              <td><%= project[:likes] %></td>
              <td><i class="far fa-comment-dots"></i></td>
              <td><%= project[:comments] %></td>
            </tr>
            </tbody>
          </table>
        </li>
      <% end %>
    </ul>
  </div>
</div>
