<!DOCTYPE html>
<html>
  <head>
    <title>GCMC</title>
    <%= display_meta_tags(default_meta_tags) %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <% if @header_top_guest %>
    <header class="top-guest">
      <%= react_component("HeaderTopGuest") %>
    </header>
  <% else %>
    <header class="common">
    <% if @current_user %>
      <%= react_component("Header", {mode: "user", permalink: @current_user.permalink, name: @current_user.name, image: @current_user.image.url, invitations: @current_user.invitations}) %>
    <% else %>
      <%= react_component("Header", {mode: "guest"}) %>
    <% end %>
    </header>
  <% end %>
    <%= yield %>
  <footer>
  </footer>
  <% if flash[:notice] %>
  <div id="react-flash-notice" class="flash-notice" style="height: 50px">
    <p><%= flash[:notice] %></p>
    <%= react_component("FlashNotice") %>
  </div>
  <% end %>
  </body>
</html>
